<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.vhowto.oinkbrewmobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".OinkbrewApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.ConfigurationListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/drawer_settings"
            />
        <activity
            android:name=".activities.BrewPiListActivity"
            android:label="@string/drawer_brewpis"
            android:launchMode="singleTask"
            />
        <activity
            android:name=".activities.DevicesListActivity"
            android:label="@string/drawer_devices"
            android:launchMode="singleTask"
            />
        <activity
            android:name=".activities.BrewPiDevicesActivity"
            android:label="@string/drawer_devices"
            />
        <activity
            android:name=".activities.ConfigurationBrewOperationActivity"
            android:label="@string/drawer_configurations"
            />
        <activity
            android:name=".activities.ConfigurationFermentationOperationActivity"
            android:label="@string/drawer_configurations"
            />
        <activity
            android:name=".activities.ConfigurationNewActivity"
            android:label="@string/drawer_configurations"
            android:windowSoftInputMode="stateVisible|adjustResize"
            />

    </application>

</manifest>